[Unit]
Description=Semprec trash purge

[Service]
Type=oneshot
User=semprec
Group=semprec
EnvironmentFile=/opt/semprec/shared/.env
SyslogIdentifier=semprec-trash-purge
ExecStart=/bin/bash /opt/semprec/shared/bin/semprec-trash-purge.sh
