[Unit]
Description=Semprec backup

[Service]
Type=oneshot
EnvironmentFile=/opt/semprec/shared/.env
SyslogIdentifier=semprec-backup
ExecStart=/bin/bash /opt/semprec/shared/bin/semprec-backup.sh
